.mainSection {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
        "topZone topZone topZone"
        "leftZone middleZone rightZone"
        "bottomZone bottomZone bottomZone";
}

.topZone {
    grid-area: topZone;
    display: block;
}

.bottomZone {
    grid-area: bottomZone;
    display: block;
}

.leftZone {
    grid-area: leftZone;
    display: block;
}

.rightZone {
    grid-area: rightZone;
    display: block;
}

.middleZone {
    grid-area: middleZone;
    display: block;
}

.row {
    padding-top: 5px;
    display: flex;
    column-gap: 5px;
}

.button_element {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_element p {
    position: absolute;
    z-index: 2;
}
.button_element img {
    display: block;
    z-index: 1;
}

.standart_margin {
    margin-top: -25%;
}

.lower_margin {
    margin-top: -15%;
}

.row .arrow-key {
    padding-top: 0;
}

.row .arrow-keys {
    padding-top: 0;
}

.arrow-key {
    margin-left: 20px;
    margin-top: 0;
}

.arrow-keys {
    margin-left: 27px;
}
