@import url(main_grid.css);

@font-face {
    font-family: blueWinter;
    src: url("../assets/misc/Blue_Winter.ttf");
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(138, 115, 98);
    font-family: "blueWinter";
    color: #5b4536;
}

